@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
  background: #ededf1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
}